<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pwnagotchi</title>
        <link rel="stylesheet" href="/js/jquery.mobile/jquery.mobile-1.4.5.min.css"/>
        <script type="text/javascript" src="/js/state-api.js"></script>
        <script type="text/javascript" src="/js/theme-default.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/theme-default.css">
    </head>

    <body>
        <div id="maindisplay" class="flexible" data-next="#graphdisplay" data-role="page">
            <div data-role="header" data-position='fixed'>
                <div>
                    <div class="title">Channel:</div>
                    <div class="channel" id="channel" ></div>
                </div>
            
                <div>
                    <div class="title">APs:</div>
                    <div class="aps" id="aps"></div>
                </div> 

                <div class="padder"></div>
                <div>
                    <div class="title">Uptime: </div>
                    <div class="uptime" id="uptime"></div>
                </div>
            </div>

            <div role="main" class="ui-content flexible">
                <div class="name" id="name"></div>
                <div class="face" id="face"></div>
                <div class="status" id="status"></div>
                <div class="friendarea flexible">
                    <div class="friend_face_text" id="friend_face_text"></div>
                    <div class="friend_name_text" id="friend_name_text"></div>
                </div>
                <div class="systemarea flexible">
                    <div>
                        <div class="title">CPU: </div>
                        <div class="cpu" id="cpu"></div>
                    </div>
                    <div>
                        <div class="title">Temp: </div>
                        <div class="temperature" id="temperature"></div>
                    </div>
                    <div>
                        <div class="title">Memory: </div>
                        <div class="memory" id="memory"></div>
                    </div>
                </div>
            </div>
            <div data-role="footer" class="flexible" data-position='fixed'>
                <div>
                    <div class="title">Pwned: </div>
                    <div class="shakes" id="shakes"></div>
                </div>
                <div class="padder"></div>
                <div class="mode title" id="mode"></div>
            </div>
        </div>
        <script>
            window.onload = function() {
                pwnagotchi.stateRetrieval.initialise(pwnagotchi.populateDisplay);
            };
        </script>
    </body>
</html>
